/* Variables */

$grey: #E1E1E1;
$light-grey: #F6F6F6;
$blue: #3356A4;
$black: #000;
$white: #fff;
$green: #56A820;

$light-green: #207B1C;
$dark-red: #A70001;
$red: #FF0002;

/* mixins */

.padding { padding: 1em; }
.align-right { float: right; }
.cb-small { font-size: 0.8em; }
.cb-big { font-size: 1.2em; font-weight: bold; color: $blue }
.cb-headline { 
  @extend .cb-big;
  margin-bottom: 1em;  
  a { color: $blue }
}
.border { border-top: 1px solid $grey; display: block; }

.cb-row {
  border-bottom: 1px solid $grey;
  padding: 0.5em;
}

.cb-box { 
    @extend .border;
    @extend .padding;
    background: $light-grey;
    margin-bottom: 1em;
    overflow: hidden; 
  }


.cb-booking-code  strong{
    padding: 5px;
    display:block;
  font-family: Courier, monospaced;
  color: green;
  font-weight: normal;
}



.confirmed {
  color: $green;
}



/*****************
 * ITEMS LIST
 *
 */

// Main list container
.cb-list {

}


/*****************
 * ITEMS SINGLE
 *
 */

.cb-description {
  margin-bottom: 2em;
}


 /*****************
 * ITEMS SINGLE: Bookingbar
 *
 */

#cb-bookingbar-msg {
  @extend .padding;
  &.error {
    background: red;
    color: $white;
  }
  &.notice {
    background: green;
    color: $white;
  }
}

#cb-bookingbar {
  z-index: 99;
  .inner {
    @extend .cb-box;
    margin: 0;
    background: $white;

  overflow: hidden;
  }
  .cb-userinfo {
    display: block;
  }
  .booking {
    #cb-bookingbar-intro {
      display:none;
    }

    #date-start, #date-end, #cb-submit {
      @extend .cb-big;
      color: $green;
      span {
        font-weight: bold;
        color: $blue;
         display: inline;
         padding: 0 0.2em;
         &.cb-day {
          display:none;
         }
      }
      float: left;
      margin-right: 20px;
    }
    #cb-submit {
      @extend .align-right;
    }
  }
  position: fixed;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0; 

}

/*****************
 * LISTS
 *
 */

.cb-list {

.cb-list-item {
    margin-bottom: 1em;
    display: block;
    overflow: hidden;
  }
  ul {
    overflow: hidden;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      @extend .border;
      background: #fff;

      span.cb-action {
        @extend .align-right;
      }
      &:hover {
        background: #fff;
      }
    }
  }
}


/*****************
 * ITEMS SINGLE Timeframes
 *
 */

.cb-timeframe {

  @extend .cb-box;

  $width: 100%;
  $cellwidth: $width / 7;

  // this class pushes the calendar cells into the right position
  .pusher {
      &.day1 {margin-left: 0; }
      &.day2 {margin-left: $cellwidth; }
      &.day3 {margin-left: $cellwidth * 2; }
      &.day4 {margin-left: $cellwidth * 3; }
      &.day5 {margin-left: $cellwidth * 4; }
      &.day6 {margin-left: $cellwidth * 5; }
      &.day7 {margin-left: $cellwidth * 6; }

  }

  .cb-location {
    display: block;
    overflow: hidden; 
    .cb-date, .cb-address, .cb-contact {
      @extend .cb-small;
      padding-left: 0;
    }
    .cb-location-name {
      @extend .cb-big;
    }


  }

  /* Calendar */
  ul.cb-calendar {
    list-style: none; 
    clear: both;
    overflow: hidden;
    margin: 1em 0 1em 0; 

    input {
      display:none;
    }

    li:first-child {
      @extend .pusher; // add margin to push first entry. 
    }
    li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: $cellwidth;
      height: 80px;
      overflow: hidden;
      padding: 10px;
      float: left;
      text-align: center;
      background: $white;
      color: $grey;
      border: 1px solid $light-grey;
    
      &.bookable { // selectable dates
        cursor: pointer;
        color: $white;
        background: $green;
        &:hover {
          background: darken($light-green, 10%);
          color: $white;
        }
      }
      &.selected {
        border: 1px solid $blue;
        background: $blue;
        color: $white;
      }      
      &.booked {
        background: $grey;
        color: $dark-red;
      }
      &:hover {
      }  
    }
    .cb-day {
      display: block; 
        font-size: 0.8em;

    }
    .cb-date {
      display: block; 
    }

  }
}



